In [ ]:
print("hello")

# printing("hello")  # line with wrong syntax

hello

# Introduction

* python is a high level interpreted programming language
* It was introduced in the year 1991 by guido van rossum


# why python?
* easy to code
* easy to understand
* user - friendly
* most of the syntax is english language which is used globally around the world
* faster execution
* It is a open - source
* Muliple libraries and functionalities.

# where we are using python?

* data science and data analysis - numpy , pandas
* web development - django,flask
* data visulaization - matplotlib , seaborn
* machine learning - scikit-learn
* Artificial intelligence - tensorflow
* Time series forecasting - stock price predictions , whether forcast predictions

**Good Morning Everyone Guys! let's wait for everyone to join the session and we will start the session by 7:10**

# Agenda

* variables
* In built datatypes
* operators and its types
* sequential datatypes - strings , list , tuple
* Non - sequential datatypes - sets , dictionary
* conditional statements
* loops
* Functions

In [ ]:
# comments are lines of statement that do not execute

# run the cell you can click shift + enter

# we use # to create single line comment

"""
this
is my multiline
comment

"""

'\nthis \nis my multiline \ncomment \n\n'

In [ ]:
print("Fatima") # python is case sensitive
print('Fatima')

Fatima
Fatima

# Variables

* It is a container that stores different types of data

In [ ]:
variable1 = 10 # variable name is variable1 and it stores the value 10
print(variable1)

box1 = "5 apples" # "5 apples" is a string(text) data stores in variable box1
box2 = "6 apples"
box3 = "3 apples"

print(box1) # this box1 is going to fetch the value in box1
print("box1") # this box1 in "" is a text not a variable

10
5 apples
box1

# Rules to write variables

* variables are case sensitive
* we cannot start variables with number/symbols(except_)
* we don't use keywords as a variable name
* we cannot give spaces between the variable
* if you want to give space use _(underscore)

In [ ]:
Age = 10
age = 40

print(Age)
print(age)

10
40

In [ ]:
x = 10
X = 15

print(x)
print(X)

10
15

In [ ]:
# 1var = 23  # 1var is started with 1

In [ ]:
v1e = 23

In [ ]:
# @var123 = 45

In [ ]:
var123 = 45

In [ ]:
# if = 10 # if is a reserved keyword in python

In [ ]:
# and = 23

In [ ]:
s = 123

In [ ]:
print(s)

123

In [ ]:
s = 123
print(s)

123

In [ ]:
# var name = 34 # you cannot give space within variable name

In [ ]:
var_name = 34

In [ ]:
var = 23   # indentataion means - using spaces or tabs at the beginnning of the code

print(23)

23

In [ ]:
# everyone be back by 8:10 AM

box1 = "5apples"

# Datatypes

* The values that we store in our variable

In [ ]:
# Text datatype
# str or string : It a data is in text format -> '' or ""
domain = 'Machine learning'
# keyword alert : type()
# type() -> it will tell what kind of value is stored in the variable
type(domain)

str

In [ ]:
location = "Delhi"
type(location)

str

In [ ]:
# Numeric data type

# int -> Integer() All +ve and -ve number including 0
x = 10
y = -20
print(type(x)) # the type of value stores in x is integer

<class 'int'>

In [ ]:
type(y)

int

In [ ]:
print('x=',type(x))

x= <class 'int'>

In [ ]:
# float -> All +ve and -ve decimal number

x = 15.5

print(type(x))

<class 'float'>

In [ ]:
y = -20.9

print(type(y))
type(y)

<class 'float'>

float

In [ ]:
# boolean -> where we are having True or False value respectively
# True -> it is denoting 1 as binary number
cond1 = True
type(cond1)

bool

In [ ]:
cond2 = False
type(cond2)

bool

In [ ]:
cond1 = "True12323tyutzdfgfhjkl"
type(cond1)

str

# Operators

* operation : To perform certain task
* operands : values on which we perform task
* operator : The symbol that specify what task to be done
* SUM = x + y
* SUM is an operation
* x and y are operands
* '+' is my operator

1. Aritmetic operator (perform mathematical operations)
2. comparison operator ( compare values and return True and False)
3. Logical Operator (used to combine conditional statements)
4. Assignment operator (assign value the variables)
5. Membership operator(check if a value exist in a sequence)

In [ ]:
# Arithematic operator : where we use all mathematical calculation

#(+ , - , * , / , //,**,%)

# ADD

x = 5
y = 2
z = x + y
print(z)

7

In [ ]:
# SUB

x = 5
y = 2
z = x - y
print(z)

3

In [ ]:
# Multiplicataion

x = 5
y = 2
z = x * y
print(z)

10

In [ ]:
# Division -> always in decimal form

x = 5
y = 2
z = x / y
print(z)

2.5

In [ ]:
type(z)

float

In [ ]:
c = 4 / 2
print(c)

2.0

In [ ]:
# floor division(//) -> it will not divide the number up until further decimal to
# make the remainder as 0


x = 5
y = 2
z = x // y
print(z)

2

In [ ]:
# exponentiation operator (**) -> power operator

x = 5
y = 2
z = x ** y # x to the power of y ( 5 ^ 2)
print(z)

25

In [ ]:
# modulus operator(%) -> will return the remainder as output

x = 5
y = 2
z = x % y
print(z)

1

In [ ]:
# comparison operator

# > , < , ==(equals to), <= , >= , !=

x = 5
y = 6

print(x > y)

False

In [ ]:
print(x < y)

True

In [ ]:
print(x == y) # x is equal to y or not

False

In [ ]:
print(x >= y ) # if x is greater than y or x is equal to y

False

In [ ]:
print(x <= y)  # x is less than y or x is equal to y

True

In [ ]:
print(x != y) # if x is not equal to y or not

True

In [ ]:
x = 100
y = 157

print(x > y)
print(x < y)
print(x == y)
print(x >= y)
print(x <= y)
print(x != y)

False
True
False
False
True
True

In [ ]:
#Logical operator

# These are used to combine conditional statemnets and return boolean value(True/False)

# AND , OR , NOT

# AND -> returns True if both the conditions are true, otherwise it returns False

x = (5 > 3) and (4 < 6)
print(x)

True

In [ ]:
y = (5 < 3) and (4 < 6)
print(y)

False

In [ ]:
x = 7
y = 10
z = (x > y) and (y <= x)
r = (x < y) and (x != y)
print(z)
print(r)

False
True

In [ ]:
# OR -> return True , if atleast one condition is True.
# Returns False only if both the conditions are False

p = (5 > 3) or (4 < 6)
print(p)

True

In [ ]:
t = (4 < 7) or (5 > 10)
print(t)

True

In [ ]:
# not -> reverse the boolean value of the operand

x = not(5 > 3)

print(x)

False

In [ ]:
# Assignment operator

# They are used to assign or reassign values to the variables

# They are used with the arithematic operators to perform operations on variables
# and update its value


x = 5 # assigned the value 5 to x

print(x)

5

In [ ]:
# add and assign

# x = x + 5 , add 5 to x , then updating x

x += 5

# the + before = tells python to add something to the variable

# the = assign the result of addition back to the same variable

In [ ]:
print(x)

10

In [ ]:
r = 12

r += 3 # r = 12 + 3

print(r)

15

In [ ]:
# subtract and assign

y = 12

y -= 5 # y = y-5 # y = 12-5

print(y)

7

In [ ]:
u = 7

u = u + 3 # u += 3

print(u)

10

In [ ]:
t = 3

t-=5

print(t)

-2

In [ ]:
# multiplication and assign


p = 7

p*= 2 # p = p * 2


print(p)

14

In [ ]:
# division and assign

e = 8

e /= 2

print(e)

4.0

In [ ]:
v = 4

v %= 3

print(v)

1

In [ ]:
b = 5

b **= 2

print(b)

25

In [ ]:
# try expnentiation and floor division

# Data Structures

* combine data types together we can create different structures

# Sequential Datatype

* when we have order in between the elements / values

* List , Tuple , String

# List

* A datatypes that stores multiple values / elements of any datatype

* list are mutable / changable

* we can create list using []

* list is not unique (can have duplicate values)

In [ ]:
list1 = [1,2,3,4,5,5,6,"Name","ram",10.6,11.9,True,False]

In [ ]:
print(list1)

[1, 2, 3, 4, 5, 5, 6, 'Name', 'ram', 10.6, 11.9, True, False]

In [ ]:
type(list1)

list

# Indexing

* Gives the position or location of individual elements

* Index always starts from 0

* we can pass index inside []

In [ ]:
a = [1,2,3,4,5]

# If we are counting from the start or 1
# elements -> index position
# 1 -> 0th
# 2 -> 1st
# 3 -> 2nd
# 4 -> 3rd
# 5 -> 4th

In [ ]:
# syntax for indexing

#variable_name[index_value]

a[1]

2

In [ ]:
a.index(4)

3

In [ ]:
len(a)

5

In [ ]:
negative_index = a.index(4) - len(a)
print(negative_index)

-2

In [ ]:
a[3]

4

In [ ]:
# if we are counting from back from 5

# 5 -> -1
# 4 -> -2
# 3 -> -3
# 2 -> -4
# 1 -> -5

In [ ]:
a[-4]

2

In [ ]:
# methods that we have in list

# .append() - It adds the element by the end of the list

mylist = ['Tea','Milk','Juice','chocolate','Rice']
mylist.append('shoes')

In [ ]:
print(mylist)

['Tea', 'Milk', 'Juice', 'chocolate', 'Rice', 'shoes']

In [ ]:
# .insert() -> insert the value in position
# .insert(index,value)

list3 = [1,2,3,4]
list3.insert(2,10)
print(list3)

[1, 2, 10, 3, 4]

In [ ]:
list3[2] = 100
print(list3)

[1, 2, 100, 3, 4]

In [ ]:
# .remove() -> remove/delete the element from the list

list3 = [1,2,10,3,4]
list3.remove(10)
print(list3)

[1, 2, 3, 4]

In [ ]:
# .pop() - remove the element and return the value
booklist = ['b1','b2','b3','b4']
booklist.pop(2)

'b3'

In [ ]:
print(booklist)

['b1', 'b2', 'b4']

In [ ]:
list4 = [1,2,10,10,12]

list4.remove(10)
print(list4)

[1, 2, 10, 12]

In [ ]:

mylist = ['Tea','Milk','Juice','chocolate','Rice']
pramodslist = ['Car','Car Cover','Oiling','Carwashkit']
# .extend() - It will add mulitple elements by the end of the list

mylist.extend(pramodslist)
print(mylist)

['Tea', 'Milk', 'Juice', 'chocolate', 'Rice', 'Car', 'Car Cover', 'Oiling', 'Carwashkit']

# Tuple

* It is immutable/unchangable
* It can also have duplicate values
* have indexing order
* To create a tuple we use ()

In [ ]:
tup1 = (1,2,3,4,5)

In [ ]:
print(tup1)

(1, 2, 3, 4, 5)

In [ ]:
type(tup1)

tuple

In [ ]:
tup1[3]

4

In [ ]:
tup2 = (1,4,"amal",True,False,12.4)

In [ ]:
type(tup2)

tuple

In [ ]:
# tup = (1,2,3)
# tup.append(4)

In [ ]:
# Methods in tuple
# .count() - counts how many time the value has been repeated(frequency of the number)
# .count(element)
tup2 = (1,2,3,3,2,6,6,7)
print(tup2.count(6))

2

In [ ]:
# index() -> gives the index number of a particular element
tup4 = (1,3,4,5)
tup4.index(4) #.index(element)

2

# String

* Text type of data we can store
* "" or ''

In [ ]:
Name = "Aryan"
print(Name[2])

y

# slicing

slicing allows you to extract a portion of string using the format:

string[start : end : step]

start -> The starting index (inclusive, default = 0)

end -> The stopping index (exculsive)

step -> The step size (default = 1)

In [ ]:
text = "PythonProgramming"

# Extract "python"
# end index is exculded so , we will not be able to get the element at
# ending index to get the element at the ending index we use end_index + 1
print(text[0 : 5+1])

Python

In [ ]:
print(text[0:6])

Python

In [ ]:
len(text)  # len - length of the string

17

In [ ]:
# extract programming

print(text[6:])

Programming

In [ ]:
text = "PythonProgramming"
# extract 'yth'
text[1:4]

'yth'

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
# extract 2,4,6,8
list1[1::2]  # every second element starting from index 1

[2, 4, 6, 8]

In [ ]:
1-0 ----
2-1
3-2
4-3-----
5-4
6-5
7-6------
8-7

In [ ]:
list1[::3]  # this used for fetching every third element from the list

[1, 4, 7]

In [ ]:
# methods in dtring

# .upper() -> capitalize all the values

name = "Ayush"
print(name.upper())

AYUSH

In [ ]:
# .lower() -> convert all the values in lowercase

print(name.lower())
name[0].upper()

ayush

'A'

In [ ]:
# concatenation -> combining strings

fname = "ram"
lname = "sita"

fullname = fname + " " + " " + lname
print(fullname)

ram  sita

In [ ]:
len(fullname)

8

In [ ]:
fullname = "ram"

In [ ]:
print(fullname[0].upper() + fullname[1:])

Ram

# Sets

* collection of unique elements
* have no order (indexing)
* Mutable
* {}

In [ ]:
set1 = {1,2,3,4,5,6,6}

In [ ]:
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
set2 = {12.3,89.7,32,23,True,False}

In [ ]:
set2

{False, True, 12.3, 23, 32, 89.7}

In [ ]:
# Methods in sets

# .add() -> To add a single element in a set

set3 = {2,3,4,5}
set3.add('a')

In [ ]:
print(set3)

{2, 3, 'a', 4, 5}

In [ ]:
set3.add(4)

In [ ]:
print(set3)

{2, 3, 'a', 4, 5}

In [ ]:
# .update()- To add multiple elements

set3.update(['a','A']) # updating set using list

print(set3)

{2, 3, 'a', 4, 5, 'A'}

In [ ]:
set3.update((1,2,3))  # updating set using tuple

In [ ]:
print(set3)

{1, 2, 3, 'a', 4, 5, 'A'}

In [ ]:
set3.update({45,67}) # updating set using set

In [ ]:
print(set3)

{1, 2, 3, 'a', 4, 5, 67, 45, 'A'}

In [ ]:
student = {(1,2,3),(3,4,5)}  #  is possible here

In [ ]:
student = {1,2,[3,4]} # indexing is not alllowed

TypeError: unhashable type: 'list'

**If you want to store a sequence inside a set then you can use tuple insead of list , tuple works because they are immutable**

In [ ]:
# remove() -> remove and delete

set2 = {2,3,4,5}

In [ ]:
set2.remove(5)

In [ ]:
print(set2)

{2, 3, 4}

In [ ]:
# .difference_update - you can remove specific multiple elements from set

s = {1,2,3,4,5,6}
s.difference_update({2,4,6})
print(s)

{1, 3, 5}

In [ ]:
# .pop() -> remove and return the value or a random element
# beacuse sets are unordered

# when you don't care which element is removed

set2 = {2,3,4,5,6}

In [ ]:
set2.pop()

2

In [ ]:
print(set2)

{3, 4, 5, 6}

In [ ]:
set2.pop()

3

In [ ]:
print(set2)

{4, 5, 6}

In [ ]:
set2.pop()

4

In [ ]:
print(set2)

{5, 6}

In [ ]:
# .union() -> give all the unique elements present in both the sets

set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3 = {4,5,6,7}

print(set1.union(set2,set3))

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# intersection() --> common value present in both the set

set1 = {1,2,3,4}
set2 = {3,4,5,6}

print(set1.intersection(set2))

{3, 4}

# Dictionary

* key and value pair
* Mutable (changable)
* we can create {}
* keys are always going to be a string , number or a tuple, key will be of immutable datatype.
* Values can be of any data type

In [ ]:
dict1 = {
    "firstName":["Divya","pooja"],
    "lastName":"Rao",
    "domain":"cloud engineer",
    "pincode":567897
}

In [ ]:
dict1

{'firstName': ['Divya', 'pooja'],
 'lastName': 'Rao',
 'domain': 'cloud engineer',
 'pincode': 567897}

In [ ]:
# change the value of a key

dict1["domain"] = "data scientist"

In [ ]:
dict1

{'firstName': ['Divya', 'pooja'],
 'lastName': 'Rao',
 'domain': 'data scientist',
 'pincode': 567897}

In [ ]:
# To add a new key and value pair

dict1['favcolor'] = 'blue'

In [ ]:
dict1

{'firstName': ['Divya', 'pooja'],
 'lastName': 'Rao',
 'domain': 'data scientist',
 'pincode': 567897,
 'favcolor': 'blue'}

In [ ]:
dict1.update({'age':24,'salary':90000})

In [ ]:
dict1

{'firstName': ['Divya', 'pooja'],
 'lastName': 'Rao',
 'domain': 'data scientist',
 'pincode': 567897,
 'favcolor': 'blue',
 'age': 24,
 'salary': 90000}

In [ ]:
my_dict  = {('John','Doe'):'Engineer',('Jane','Smith'):'doctor'}

my_dict

{('John', 'Doe'): 'Engineer', ('Jane', 'Smith'): 'doctor'}

In [ ]:
grades = {'John':'A','Jane':'B'}

In [ ]:
# remove the key and value

# keyword del

del dict1['favcolor']

In [ ]:
dict1

{'firstName': ['Divya', 'pooja'],
 'lastName': 'Rao',
 'domain': 'data scientist',
 'pincode': 567897,
 'age': 24,
 'salary': 90000}

In [ ]:
# methods in dict

# .keys() -> gives all the keys present in my dict

dict1.keys()

dict_keys(['firstName', 'lastName', 'domain', 'pincode', 'age', 'salary'])

In [ ]:
# .values() -> all the values present in my dict

dict1.values()

dict_values([['Divya', 'pooja'], 'Rao', 'data scientist', 567897, 24, 90000])

In [ ]:
# .items() - give both key and value pair
dict1.items()

dict_items([('firstName', ['Divya', 'pooja']), ('lastName', 'Rao'), ('domain', 'data scientist'), ('pincode', 567897), ('age', 24), ('salary', 90000)])

# Conditional Statements

* To make decision and execute a particular section of code
* keywords : if , else , elif

In [ ]:
# If : when we have only one condition
# If condition:
#  body

# else : when IF condition is not true then else will execute

age = int(input("enter your age: "))
if age>= 18:
  print("eligible to vote")
else:
  print("not eligible to vote")

enter your age: 56
eligible to vote

In [ ]:
y = int(input("enter your name:"))

enter your name:12

In [ ]:
type(y)

int

In [ ]:
# elif : If we are having more than one condition
# If conditions are independent, use elif
marks = int(input("enter the marks:"))

if marks >= 90:
  print("Grade A")
elif marks > 70:
  print("Grade B")
elif marks > 50:
  print("Grade C")
else:
  print("Grade D")

enter the marks:90
Grade A

In [ ]:
# nested if
# If conditions depend on previous checks , use nested if

marks = int(input("enter the marks:"))

if marks >= 90:
  print("Grade A")
else:
  if marks > 70:
    print("Grade B")
  else:
    if marks > 50:
      print("Grade C")
    else:
      print("Grade D")

enter the marks:45
Grade D

In [ ]:
# netsed if
marks = int(input("enter marks:"))

if marks >= 50:  # first condition: pass or fail
  print("you are passed")
  if marks >= 75:  # second condition is to check the topper
    print("you are the topper")
else:
  print("you failed")

enter marks:45
you failed

# Looping statements

A loop in a programming is like this repeatative task - It tells the computer to do something over and over agian until certain condition is met

# For loop

A to do list where you already have fixed number of task.

A for loop is used when you know ahead how many times you need to repeat something

In [ ]:
# clean 5 - 10 windows
# i is a loop variable (iterator) take different value from range function in each iteration
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
# range() function is used to generate sequence of number
for day in range(1,8):
  print("Day"+ str(day)+": distributing movie tickets")

Day1: distributing movie tickets
Day2: distributing movie tickets
Day3: distributing movie tickets
Day4: distributing movie tickets
Day5: distributing movie tickets
Day6: distributing movie tickets
Day7: distributing movie tickets

In [ ]:
# f means formatted string -> String formatting syntax
# It tells python that string conatin placeholders inside the {}
# that should be replaced with actual values
# f- string are used to insert variables , perform calculations or format data inside strings
for day in range(1,8):
  print(f"Day {day} : distributing movie tickets")

Day 1 : distributing movie tickets
Day 2 : distributing movie tickets
Day 3 : distributing movie tickets
Day 4 : distributing movie tickets
Day 5 : distributing movie tickets
Day 6 : distributing movie tickets
Day 7 : distributing movie tickets

In [ ]:
pi = 3.14159

print(f"The value of pi is {pi}")

The value of pi is 3.14159

In [ ]:
# for loop : when we have a sequence provided or sequential datatype (list , tuple , string)

list1 = [1,2,3,4,5,6,7,8,9]

for i in list1:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
name = "hello"

for i in name:
  print(i)

h
e
l
l
o

# While loop

* In programming , a while loop is used when you don't know in advance how many times you will need to repeat something. The loop keeps going until a condition is no longer True

In [ ]:
window_dirty = True

while window_dirty == True: # The loop runs as long as window_dirty is True
  print("clean the window") # This prints the message
  window_dirty = False  # after cleaning, we set the window_dirty to False

clean the window

In [ ]:
i = int(input("enter any number less than 5: "))
j = int(input("enter any number more than 5 or 5: "))
while i <= j:
  print(i)
  i += 1 # i = i + 1

enter any number less than 5: 1
enter any number more than 5 or 5: 5
1
2
3
4
5

# 1st iteration , i = 1 print 1
# 2nd iteration , i = 2 print 2
# 3rd iteration , i = 3 print 3
# 4th iteration , i = 4 print 4
# 5th iteration , i = 5 print 5

In [ ]:
i = 10

while i != 1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2

In [ ]:
for i in range(1,6):
  if i == 3:
    break  # the statement break stops the loop entirely when cond is met
  print(i)

1
2

In [ ]:
for i in range(1,6):
  if i == 3:
    continue
  print(i)

# continue statement it skips the current iteration and moves to the next one.

1
2
4
5

In [ ]:
orders = ["phones","out of stock","laptop"]

for item in orders:
  if item == "out of stock":
    continue
  print(f"processing the item : {item}")

processing the item : phones
processing the item : out of stock
processing the item : laptop

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]


for i in numbers:
  if i % 2 == 0:
    continue

  if i == 10:
    break

  print(i)

1
3
5
7
9

create a while loop that asks the user to guess a secret number (eg.-7)and continues until the secret numberisguessed.

In [ ]:
secret_number = 7

while True:
  guess = int(input("Guess the Secret number: "))
  if guess == secret_number:
    print("congratulations! you have guessed the correct number")
    break # stop the loop when guessed correctly
  else:
    print("wrong guess! try again")

Guess the Secret number: 1
wrong guess! try again
Guess the Secret number: 7
congratulations! you have guessed the correct number

Write a program to print the square of numbers from 1 to 5.

In [ ]:
for i in range(1,6):
  print(f"The square of {i} is {i**2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [ ]:
i = 1
while i <= 5:
  print(f"The square of {i} is {i**2}")
  i += 1

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

Keep asking the user for a password until they enter "password123", then print "Access Granted".

In [ ]:
correct_password = "password123"

for attempt in range(3):
  password = input("Enter the password: ")
  if password == correct_password:
    print("Acces Granted")
    break
  else:
    print("Incorrect password Try again")
# else:
#   print("Access denied ! too many failed attempts")

Enter the password: 123
Incorrect password Try again
Enter the password: 234
Incorrect password Try again
Enter the password: 345
Incorrect password Try again

In [ ]:

correct_password = "password123"
for attempt in range(3):
  password = input("Enter the password: ")
  if password == correct_password:
    print("Acces Granted")
    break
  else:
    print("Incorrect password Try again")
else:
  print("Access denied ! too many failed attempts")

Enter the password: 543
Incorrect password Try again
Enter the password: 564
Incorrect password Try again
Enter the password: 675
Incorrect password Try again
Access denied ! too many failed attempts

1.Given a list: numbers = [2, 4, 6, 8, 10], use a for loop to print each number.

2.Print the multiplication table of 5 using a for loop.

3.Calculate the sum of numbers from 1 to 20 using a for loop.

4.Reverse a list [10, 20, 30, 40, 50] using a for loop.

5.Create a guessing game where the user has to guess the number 25. The program should stop when they guess correctly.

6.Find the factorial of a number using a while loop.

7.Print numbers from 10 to 1 in reverse order using a while loop.

# Python Handson

#FizzBuzz Challenge:
# Print numbers from 1 to 50. If a number is divisible by 3, print "Fizz"; if divisible by 5, print "Buzz"; if divisible by both, print "FizzBuzz."

In [ ]:
# for loop , while loop , if else statement

In [ ]:
for i in range(1,51):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 5 == 0:
    print("Buzz")
  elif i % 3 == 0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
i = 1

while i <= 50:
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 5 == 0:
    print("Buzz")
  elif i % 3 == 0:
    print("Fizz")
  else:
    print(i)
  i+=1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Reverse a Number:
# Write a Python program to reverse an integer, e.g., 1234 should become 4321.

In [ ]:
num = int(input("Enter a number:"))

reversed_num = int(str(num)[::-1])

print(reversed_num)

Enter a number:1234
4321

In [ ]:
# num[start:ending:step]

In [ ]:
s = "fatima"

In [ ]:
s[::-1]  # -1 means you are stepping backwards through the string , means reversing it

'amitaf'

In [ ]:
s[0:len(s)]

'fatima'

In [ ]:
a = int(input("enter a number:"))

enter a number:1224

In [ ]:
type(a)

int

In [ ]:
reverse_num = int(str(a)[::-1])  # in int we cannot use slicing concpet

In [ ]:
print(reverse_num)

4221

In [ ]:
type(reverse_num)

int

# Count Vowels in a String:
# Write a Python program that counts the number of vowels in a given string

In [ ]:
# a = "fatima" - 3 (aia)

# v = "aeiou"

In [ ]:
name = input("Enter a string: ");
v = "aeiou"
number = 0
for a in name:
  if a in v:
    number += 1
print("Number of vowels:", number);

Enter a string: fatima
Number of vowels: 3

In [ ]:
a ="veeresh"

v ="aeiou"

vowel_count = 0

for char  in a:

  if char in v :

    vowel_count += 1

print("Number of vowels:",vowel_count)

Number of vowels: 3

In [ ]:
string = input("Enter a string: ")
count = 0

vowels = "aeiouAEIOU"

for char in string:
  if char in vowels:
    count+=1

print("Number of Vowels:",count)

Enter a string: Sudhir
Number of Vowels: 2

# Student Grade Calculator:
# Create a dictionary where keys are subjects and values are marks. Calculate the average percentage.

In [ ]:
# 1.keys - subject  name ,values - marks
# 2. compute the total marks by summing the Value
# 3. Find the number of subjects
# 4. avg percentage - total marks / number of subjects
# 5. print the average value

In [ ]:
subjects = {
    "English":97,
    "History":76,
    "Geography":98,
    "Maths":100
}

In [ ]:
subjects.values()

dict_values([97, 76, 98, 100])

In [ ]:
total_marks = sum(subjects.values())

In [ ]:
total_marks

371

In [ ]:
num_subjects = len(subjects)

In [ ]:
num_subjects

4

In [ ]:
avg_per = total_marks / num_subjects

In [ ]:
avg_per

92.75

# Palindrome Checker:
# Write a program to check whether a word (e.g., "madam") is a palindrome.

In [ ]:


# A palindrom is a word , phrase , number or sequence that reads the same forward and backward
# example - madam , racecar , level

# Non pallindrom - "hello" - "olleh" , "python" - "nohtyp"

In [ ]:
# take input fron user
# convert to lowercase ( to make it case - insensitive)
# reverse the string using slicing
# compare the original string and reverse string
# If they match - palindrome , if they don't not a palindrome

In [ ]:
a = input("Enter a word:").lower()

Enter a word:racecar

In [ ]:
print(a)

racecar

In [ ]:
b = a[::-1]

In [ ]:
b

'racecar'

In [ ]:
if a == b:
  print("It is a palindrome")
else:
  print("Not a palindrome")

It is a palindrome

# Create a calculator program for addition, subtraction, multiplication and floor division.
# Take the inputs from the user, and based on the choice of operation, return the results.

# Create a nested dictionary with values as a nested list for each key in the dictionary.

# Create two sets and perform the following:
# a. Union of the two sets
# b. Intersection of the two sets

#Create a nested tuple from the dictionary, with each item in the tuple as a key value pair from the dictionary.

# For the given strings A = Python Programming Language, B = Best in the World , perform
# the following operations.

# l. Using indexing operations, get the text gram from the string A.
# m. Using indexing operations, get the text World from the string B.
# n. Change the letters in both strings to Uppercase letters.
# o. Concatenate the two strings.